* {
    font-family: "Arial", sans-serif;
}

ul {
    margin-left: -30px;
}

li {
    display: inline-block;
    padding:10px;
    border: 2px solid black;
    background: white;
    
}

/* Boxes */
.container {
    margin: auto;
    background: beige;
    text-align: center;
    padding: 50px;
    border: 2px solid;
}